<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.domain.Users">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `uname`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniuxy.domain.Users">
    insert into users (id, `uname`)
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.domain.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uname != null">
        `uname`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.domain.Users">
    update users
    <set>
      <if test="uname != null">
        `uname` = #{uname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.domain.Users">
    update users
    set `uname` = #{uname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultType="java.lang.String">
    SELECT uname FROM users WHERE uname = #{uname}
  </select>

  <select id="getCloudList" resultMap="BaseResultMap">
    SELECT id,uname FROM users
    <if test="list != null">
      WHERE id not in
      <foreach collection="list" open="(" close=")" separator="," item="i">
        #{i}
      </foreach>
    </if>
  </select>

  <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT id,uname FROM users WHERE uname = #{uname}
  </select>
</mapper>